.siteNav {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.navLink {
  font-size: 1.1rem;
  color: #777;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  transition: color 0.2s ease;
}

.navLink:hover {
  color: #000;
}

.active {
  color: #000;
  font-weight: bold;
  pointer-events: none; /* disables click when already active */
}
